:root {
	--small-font: .8em;
}

h3 {
	font-size: 1.3em;
	font-weight: 700;
}

p {
	font-size: var(--small-font);
}

main {
	padding: 0 2em 2em;
}

.title {
	position: relative;
}

.title-bkg {
	height: 18em;
	width: 34em;
	position: absolute;
	z-index: 0;
	top: -9em;
	left: -3em;

	background: url(../assets/bubbles/yellow0.svg) no-repeat center;
	background-size: 100%;
}

.title-txt {
	position: relative;
	z-index: 1;
}

.title-txt > h1 {
	font-size: 2.4em;
	font-weight: 700;
}


.title-txt > h3 {
	font-size: 1.6em;
}

.s1-intro {
	/* position: relative; */
	margin-top: 12em;
	display: flex;
	flex-direction: row;
	justify-content: stretch;
}

.s1-info {
	flex-grow: 22;
	position: relative;
}

.s1-info-box {
	padding: .5em;
	max-width: 32%;
	position: absolute;
	z-index: 5;

	text-align: justify
}

.s1-info-box > h3 {
	font-weight: 700;
}

.s1-info-box > p {
	margin-top: .2em;
	font-size: var(--small-font);
}

.s1-info-box > img {
	position: absolute;
}

.s1-speech-bubble {
	font-family: var(--ft_light);
	font-size: var(--small-font);
	font-weight: 500;
}

.s1-rising-temp {
	max-width: 6.5em;
	padding: 0 2em 0 1em;
	position: absolute;
	top: -5em;
	left: 33%;
	z-index: 6;
}

.s1-rising-temp img {
	position: absolute;
	height: 176%;
	top: -1em;
	left: -1em;
	width: 100%;
	z-index: -2;
}

.s1-2deg {
	max-width: 8em;
	padding: 0 2em;
	position: absolute;
	top: -14em;
	right: -10%;
	z-index: 6;
}

.s1-2deg img {
	position: absolute;
	height: 186%;
	top: -1.5em;
	left: -1em;
	width: 100%;
	z-index: -2;
}

.s1-bubble-cloud img {
	position: absolute;
}

.s1bc-1 {
	left: 0em;
	top: -2em;
}

.s1bc-2 {
	left: 14em;
}

.s1bc-3 {
	top: 3em;
	right: -2em;
	transform: scaleY(-1);
}

.s1bc-4 {
	bottom: 3em;
	right: -6em;
}

.s1-climate {
	left: 3%;
}

.s1-climate > h3:nth-of-type(2) {
	margin-left: 1.6em;
}

.s1-climate p {
	padding-left: .4em;
	max-width: 76%;
}

.s1-global {
	top: 2.5em;
	right: 35%;
	max-width: 20%;
}

.s1-global * {
	position: relative;
	top: -1em;
}

.s1-greenhouse {
	top: 3.4em;
	right: 0;
	/* position: relative; */
}

.s1-greenhouse p {
	position: relative;
	top: .8em;
	left: .8em;
}

.s1-info-img {
	position: absolute;
	height: 10em;
	top: -6em;
	right: 3em;
	z-index: -3;
}

.s1-graphic {
	/* position: absolute; */
	display: flex;
	justify-content: center;
	align-items: center;
	flex-grow: 3;
}

.s1-graphic img {
	position: relative;
	top: -7em;
	right: -5em;
	height: 22em;
}

.s2-causes {
	background-color: white;
	padding: .8em;
	border: .3em solid red;
	border-radius: 1em;
}

.s2-flex {
	display: flex;
	flex-flow: row nowrap;
	justify-content: space-between;
	gap: 20px;
}

/* .s2-info-box {

} */

.s2-info-box > h3 {
	color: red;
	font-size: 1em;
	font-weight: 800;
	text-align: center;
}

.s2-info-box > p {
	margin-top: .2em;
	font-size: var(--small-font);
	text-align: justify;
}

.s2-bfr-1 {
	width: 6em;
	color: white;
	-webkit-user-select: none;
	-moz-user-select: none;
	-ms-user-select: none;
	user-select: none;
}

.s2-head > h3 {
	font-size: 1.2em;
	text-align: left;
	flex-grow: 5;
}

/* .s2-head {
	min-width: 30em;
} */

.s2-fossil, .s2-deforest {
	position: relative;
	top: 2em;
}

.s2-transport {
	position: relative;
	top: 1.1em;
}

.s2-chart, .s2-lorry, .s2-plane {
	position: absolute;
}

.s2-chart {
	top: -6em;
	right: -4.6em;
	height: 4.7em;
	transform: rotate(-13deg);
}

.s2-lorry {
	height: 3em;
	bottom: 2em;
	right: -1.6em;
}

.s2-plane {
	height: 4em;
	top: -3.4em;
	right: -2.8em;
}


.s3-consequences {
	margin-top: 3em;
	display: grid;
	grid-template-columns: 30% 30% 20% 20%;
	column-gap: .4em;
}

.s3-cons-body {
	margin: 2em 0;
	margin-right: 3em;
	position: relative;
}

.s3-cons-body > h3 {
	font-weight: 900;
}

.s3-cons-body > p {
	margin-top: .3em;
}

.s3-cons-body > p:first-of-type {
	margin-top: 1.2em;
}

.consq-bkg {
	position: absolute;
	height: 14em;
	left: -3em;
	transform: scaleY(1.2);
	/* transform: rotate(-90deg); */
}

.s3-earth {
	position: absolute;
	height: 7em;
	right: 0;
	bottom: -5em;
}

.s3-risks {
	display: flex;
	flex-flow: column nowrap;
	justify-content: flex-start;
	align-items: center;
	gap: 1em;
}

.s3-risks > p {
	width: 90%;
	height: 2em;
	padding: .3em 1em;
	display: flex;
	flex-flow: column nowrap;
	justify-content: center;
	align-items: center;

	color: black;
	font-size: .8em;
	font-weight: 800;
	text-align: center;
	vertical-align: middle;
	border: .2em solid pink;
	border-radius: 2em;
	background-color: white;
	box-shadow: 0 2px 1px #777A;
}

.s3-rtypes > p:first-of-type {
	background-color: pink;
}

.s3-rdata > p {
	width: 55%;
	font-family: var(--ft_light);
}

.s3-risks > span {
	width: 90%;
	height: 2.8em;
	padding: .1em 0;
	font-size: .8em;
	text-align: center;
	font-weight: 300;
	border: .2em solid p;
	border-radius: 2em;
	display: flex;
	justify-content: center;
	align-items: center;
}


.s4-5 {
	position: relative;
	margin-top: 2em;
	display: grid;
	grid-template-columns: 38% auto;
	gap: 1.6em;
}

.s4-addressing {
	display: grid;
	grid-template-columns: 60% auto;
	grid-template-rows: auto auto;
	grid-template-areas: 
		"main main"
		"footprint neutral";
		column-gap: 1em;
		row-gap: 1.4em;
}

.s4-main {
	grid-area: main;
}

.bkg4 {
	position: absolute;
	z-index: -2;
	transform: scale(1.6);
}

.s4-main > p {
	margin-top: .7em;
	padding-right: 3em;
}

.s4-main > p:first-child {
	margin-top: 2em;
}

.s4-footprint {
	grid-area: footprint;
}

.s4-neutral {
	grid-area: neutral;
}

.s4-bubble {
	padding: .8em;

	text-align: center;

	background-color: white;
	border: 1px solid rgb(211, 239, 248);
	border-radius: 4em;

	box-shadow: 0 2px 3px rgba(119, 119, 119, 0.719);
}

.s5-buildings {
	display: grid;
	grid-template-columns: repeat(3, 1fr);
	column-gap: 1em;
}

.s5-stats {
	padding: 2em;

	display: flex;
	flex-flow: column nowrap;
	justify-content: space-evenly;
	align-items: center;

	text-align: center;

	background-color: white;
	border: 3px solid blue;
	border-radius: 3em;
	
	box-shadow: 0 2px 3px rgba(119, 119, 119, 0.719);
}

.s5-stats > p {
	color: blue;
	font-size: 4em;
	font-weight: 800;
}

.s5-buil-con {
	margin-top: 1em;
	position: relative;
	color: white;
}

.s5-buil-con > p {
	margin-top: 1em;
}

.s5-bkg1 {
	position: absolute;
	z-index: -3;
	left: -1.4em;
	top: -2.6em;
	/* transform: rotate(-120deg); */
}

.s5-bkg2 {
	position: absolute;
	z-index: -3;
	left: -4em;
	bottom: 4em;
	transform: rotate(90deg) scaleY(2);
}

.s5-carbon {
	display: flex;
	flex-flow: column nowrap;
	justify-content: space-evenly;
	align-items: center;

	text-align: center;
}

.s5-carbon > div {
	padding: .9em;

	font-size: .95em;

	background-color: white;
	border: 2px solid darkblue;
	border-radius: 2em;
	
	box-shadow: 0 2px 3px rgba(119, 119, 119, 0.719);
}

.s45-contr {
	position: absolute;
	/* z-index: -5; */
	/* transform: scale(0.3); */
	right: 37%;
	/* bottom: -.5em; */
}

.s45-contr img {
	height: 9em;
	position: relative;
	bottom: 5.6em;
}

.s6-helping {
	position: relative;
	z-index: 5;
}

.advice-box {
	margin-top: 3em;
	padding: 1em;

	display: flex;
	flex-flow: row nowrap;
	justify-content: space-evenly;
	gap: 2em;

	background-color: white;
	border: .4em solid green;
	border-radius: 1.6em;
}

.s6-helping > div {
	max-width: 20%;
}

.s6-img1, .s6-img2 {
	position: absolute;
	height: 7em;
	z-index: -1;
	opacity: 0.4;
}

.s6-img1 {
	bottom: .2em;
	left: 40%;
}

.s6-img2 {
	top: .2em;
	right: 35%;
}

.advice-box h3, .advice-box span {
	color: green;
}

.ab-advice {
	display: flex;
	flex-flow: column nowrap;
	justify-content: space-around;
	align-items: center;

	text-align: center;
}

.ab-advice > span {
	height: 1.4em;
	width: 1.4em;

	display: flex;
	justify-content: center;
	align-items: center;

	border: 2px solid green;
	border-radius: 1em;
}

.ab-helping h3 {
	font-size: 1.2em;
}

.ab-head h3 {
	font-size: 1.6em;
}

.s7-8 {
	margin-top: 1em;
	display: grid;
	grid-template-columns: 35% auto;
	gap: 3em;
	position: relative;
}

.s7-renewables {
	display: grid;
	grid-template-columns: 50% auto;
	gap: 2em;
}

.s7-ren {
	color: white;
}

.s7-bkg1 {
	position: absolute;
	z-index: -2;
	left: -5em;
	top: 4.4em;
	transform: rotate(-110deg) scaleY(1.4);
}

.s7-bkg2 {
	position: absolute;
	z-index: -2;
	left: -2em;
	bottom: 4.8em;
	transform: rotate(-110deg);
}

.s7-teach {
	position: absolute;
	height: 12em;
}

.s8-decarbonise {
	display: grid;
	grid-template-columns: 35% auto;
	gap: 2em;
	position: relative;
}

.s7-8-head {
	margin-top: 2em;
}

.s7-8-head > p {
	margin-top: 1.6em;
}

.s7-8-bubble {
	margin-top: .8em;
	padding: 1em;

	font-size: .8em;
	
	background-color: white;
	border: 2px solid green;
	border-radius: 3em;
}

.s7-8-bubble > h3 {
	text-align: center;
	color: green;
}

.s7-8-bubble > p {
	margin-top: .6em;
	text-align: justify;
}

.s7-8-right {
	display: flex;
	flex-flow: column nowrap;
	justify-content: space-between;
}

.s8-decarb {
	color: white;
	position: relative;
}

.s8-bkg1 {
	position: absolute;
	z-index: -2;
	left: -3em;
	top: -2em;
	transform: scaleY(1.2);
	/* transform: rotate(20deg) scaleY(1.4); */
}

.s8-bkg2 {
	position: absolute;
	z-index: -2;
	left: -3em;
	top: 7em;
	transform: scaleY(1.2);
	/* transform: rotate(20deg) scaleY(1.4); */
}

.s8-decarbonise .s7-8-left {
	position: relative;
}

.s8-teach {
	position: absolute;
	height: 14em;
	bottom: -4em;
	right: -1em;
}

.s8-speech-bubble {
	font-family: var(--ft_light);
	font-size: 1em;;
	position: absolute;
	bottom: 10em;
	left: 0em;
	width: 8em;
	/* padding: 2em 0 0 3em; */
}

.s8-speech-bubble img {
	position: absolute;
	z-index: -1;
	top: -3em;
	left: -1em;
}

.s8-txt-img {
	/* display: flex;
	flex-flow: row nowrap;
	justify-content: space-around; */
	display: grid;
	grid-template-columns: repeat(2, 1fr);
	gap: 3em;
}

.s8-txt-img img {
	height: 6em;
	margin: auto;
}

.s9-i-do {
	position: relative;
	padding-right: 5em;
}

.s9-i-do.advice-box {
	border-color: orange;
}

.s9-i-do h3, .s9-i-do span {
	color: orange;
}

.s9-i-do .ab-advice > span {
	border-color: orange;
}

.s9-i-do img {
	position: absolute;
	height: 7em;
	top: 1%;
	right: -4%;
	transform: rotate(10deg);
}
