p {
	font-size: .8em;
}

.decarb-data {
	border-color: green;
	gap: .5em;
	min-height: 40em;
}

.data-plan {
	display: grid;
	grid-template-columns: 50% auto;
	margin-bottom: 1em;
}

.graphic {
	height: 100%;
}

.data-img {
	position: relative;
}

.data-img img {
	position: absolute;
	height: 120%;
	top: 0;
	left: 0;
	transform: translateX(-30%);
	z-index: -3;
}

.data-plan-details {
	padding: 1em;
	border-color: green;
	border-width: 2px;
	background-color: rgba(255, 255, 255, 0.7);
}

.plan-sec {
	margin-bottom: .2em;
}

.plan-sec h3 {
	font-weight: 700;
}

.plan-sec span {
	font-size: 0.8em;
}

.plan-sec-head {
	display: flex;
	flex-flow: row nowrap;
	justify-content: space-between;
}

.decdat-info {
	position: relative;
	top: 1em;
	border-color: green;
	padding: 1.1em;
	margin-right: 1em;

	display: grid;
	grid-template-columns: 40% repeat(3, 1fr);
	gap: .3em;
}

.decdat-info h1, .decdat-info h2, .decdat-info h3, .decdat-info span {
	color: green;
}

.decdat-info h1 {
	font-size: 1.6em;
	font-weight: 900;
}

.decdat-info h2 {
	font-size: 1.4em;
	font-weight: 700;
}

.decdat-info h3 {
	font-size: 0.9em;
	font-weight: 600;
}

.decdat-info span {
	/* font-size: 0.9em; */
	font-weight: 700;
}

.decdat-val, .decdat-aspir, .decdat-stats {
	display: flex;
	flex-flow: column nowrap;
	justify-content: center;
	align-items: center;
	gap: 1em;
	text-align: center;
}

.quotes {

	font-family: var(--ft_light);
	position: relative;
}

.quotes * {
	position: absolute;
}

.quotes img {
	z-index: -10;
}

.carb-analysis {
	margin-top: 4.4em;
}

.speech-bb1, .speech-bb2 {
	position: absolute;
	width: 15em;
}

.speech-bb1 img, .speech-bb2 img  {
	top: -1em;
	left: -1em;
	width: 16.6em;
}

.speech-bb2 {
	right: 0;
}

.qupers-1 {
	height: 10em;
	left: 0;
	bottom: 1em;
}

.qupers-2 {
	position: absolute;
	z-index: -10;
	height: 12em;
	right: 2em;
	bottom: -.5em;
}

.speech {
	display: grid;
	grid-template-rows: 50% auto;
}

.speech-info {
	display: grid;
	grid-template-columns: 1fr 1fr;
	gap: 2em;
	color: white;

	position: relative;
}

.spi-tag {
	width: 8em;
	border-width: 4px;
	text-align: center;
	color: black;
	position: absolute;
	top: -2em;
}

.what-next .bkg-bubble {
	top: 1em;
	left: -4em;
	transform: rotate(90deg) scaleX(-1.2) scaleY(1);
}

.lesson-learnt .bkg-bubble {
	top: 7em;
	right: -3.7em;
	transform: rotate(80deg) scaleY(1.5) scaleX(1.2);
}

.lesson-learnt .bb2 {
	top: 2.6em;
}

.what-next h1, .what-next p, .lesson-learnt h1, .lesson-learnt p {
	position: relative;
	top:.5em;
}

.speech-info > div {
	padding-top: .6em;
}

.speech-info h1 {
	font-size: 1.4em;
	font-weight: 700;
}

.speech-info p {
	margin-top: 1em;
}

.speech-info b {
	font-weight: 600;
}

.bbs1l {
	left: .6em;
	width: 14em;
}

.speech-bb2 img.bbs2r {
	top: -4em;
	transform: scaleY(.7) scaleX(-1);
}

.data-img img.diag2 {
	left: 4em;
}

.data-img img.diag3 {
	left: 2em;
	top: -4em;
	height: 170%;
}

.qupers4 {
	right: 0;
	bottom: -2em;
}

.data-img img.diag4 {
	left: 6em;
	top: -2em;
	height: 150%;
}

.right.decdat-info {
	margin-right: 0;
	margin-left: 1em;
}
