p {
	font-size: .8em;
	margin-top: .7em;
}

.top-section {
	margin-top: 2em;
	display: grid;
	grid-template-columns: 50% auto;
	grid-template-rows: 1fr 2fr;
	grid-template-areas:
		"title toptips"
		"step-1 toptips";
	/* gap: 1em; */
	column-gap: 3em;
}

.title {
	position: relative;
	padding-left: 1em;
	grid-area: title;

	font-size: 1.6em;
	font-weight: 700;
}

.title img {
	position: absolute;
	z-index: -10;
	top: -14em;
	transform: rotate(-90deg) scale(4);
}

.title h1 {
	font-size: 2.2em;
}

.step-1 {
	grid-area: step-1;
	display: grid;
	grid-template-columns: 40% 20% auto;
	grid-template-rows: 4fr 4fr;
	grid-template-areas:
		"education education ."
		"spread bills bills";

	position: relative;
}

.step-1 img {
	position: absolute;
	/* z-index: -3; */
}

.s1edu-bkg {
	z-index: -5;
}

.step-1 h3 {
	font-size: 1.1em;
	font-weight: 700;
}

.s1-education {
	grid-area: education;

	padding: 0 1em;
}

.s1-education .s1edu-bkg {
	top: -1em;
	left: -2em;
	transform: scaleY(-1.3) scaleX(1.1);
}

.s1-education h3 {
	font-size: 1.3em;
}

.s1-spread {
	grid-area: spread;
	padding-right: 3em;
	position: relative;
}

.s1-spread .s1edu-bkg {
	left: -7em;
	top: -1em;
	transform: scaleX(0.65) scaleY(-1);
}

.s1-mustimg {
	height: 7em;
	left: -4.5em;
	top: -2em;
	transform: rotate(-20deg);
}

.s1-educate {
	height: 10em;
	z-index: -4;
	top: -9em;
	right: 3em;
}

.s1-bills {
	grid-area: bills;
	padding-left: 20%;
	padding-right: 10%;
	position: relative;
}

.s1-bills .s1edu-bkg {
	left: -1em;
	top: .1em;
	z-index: -2;
	transform: scaleX(0.8) scaleY(-1);
}

.s1-billimg {
	height: 7em;
	right: -3em;
	top: -3.4em;
	transform: rotate(10deg);
}

.s1-speech-bubble {
	font-family: var(--ft_light);
	position: absolute;
	width: 9em;
	text-align: center;
	top: -6.2em;
	right: -1em;
}

.s1-speech-bubble img {
	position: absolute;
	z-index: -2;
	height: 9em;
	top: -1.6em;
	left: -.2em;
}

.s1-spread, .s1-bills {
	display: flex;
	flex-flow: column nowrap;
	justify-content: flex-end;
}

.top-tips {
	grid-area: toptips;
	padding-top: 3.6em;

	display: grid;
	grid-template-columns: 50% auto;
}

.tab-column {
	display: flex;
	flex-flow: column nowrap;
	justify-content: flex-start;
	align-items: center;
	gap: .4em;
}

.tc-head, .tc-body {
	padding: .4em;
	width: 100%;
	
	text-align: center;

	background-color: white;
	border: 4px solid orange;
	border-radius: 2em;
}

.tc-head {
	font-weight: 600;
}

.tc-body {
	flex-grow: 4;
	display: flex;
	flex-flow: column nowrap;
	justify-content: space-around;
	align-items: center;
}

.tc-item h3 {
	font-size: 1.1em;
	font-weight: 700;
	/* height: 100%; */
}

.tc-item ul {
	font-size: .7em;
}

.tt-images {
	position: relative;
	
	display: flex;
	flex-flow: column nowrap;
	justify-content: space-between;
}

.tt-images > div {
	padding-left: 3em;
	display: flex;
	flex-flow: row nowrap;
	justify-content: space-between;
	gap: 1em;
}

.tt-images img {
	height: 5em;
}

.s2a-txt {
	padding: 0 1.6em;
}

.s2a-images {
	position: relative;
}

.s2a-images img {
	height: 8em;
	position: absolute;
}
.s2a-images .i1 {
	height: 8em;
}

.s2a-images .i2 {
	height: 8em;
	right: 0;
	top: 50%;
	transform: translateY(-59%);
}

.s2a-images .i3 {
	bottom: -1px;
}

.s2a-txt .tc-head {
	color: green;
	border-color: green;
}

.s2a-txt .tc-body {
	border-color: green;
}

.s2b {
	display: grid;
	grid-template-columns: 40% auto;
	grid-template-rows: 4fr 1fr 2fr;
	grid-template-areas: ". fabric" ". ." "kt1 kt2";
	color: white;
	position: relative;
}

.s2b-fabric {
	padding-right: .6em;
	position: relative;
}

.s2b-fabric p:first-of-type {
	margin-top: 1.1em;
}

.s2b-fabric .bkg-bubble {
	transform: scaleX(-2.3);
	top: -2em;
}

.s2b-speech-bubble {
	
	font-family: var(--ft_light);
	position: absolute;
	color: black;
	text-align: center;
	width: 5em;
	top: -20em;
	left: 0em;
}

.s2b-speech-bubble img {
	position: absolute;
	z-index: -1;
	height: 7em;
	top: -.5em;
	left: -.5em;
	transform: scaleX(-1);
}

.s2b-cons {
	position: absolute;
	height: 14em;
	top: -13em;
	left: 0;
	z-index: -3;
}

.s2b h3 {
	font-weight: 700;
}

.s2b-kt {
	text-align: center;
	position: relative;
}

strong {
	font-weight: 600;
}

.s2b-kt p {
	text-align: center;
}

.s2b-fabric {
	grid-area: fabric;
}

.s2b-kt1 {
	grid-area: kt1;
	padding: 0 1em;
	position: relative;
	top: 2em;
}

.s2b-kt1 .bkg-bubble {
	top: -1.4em;
	left: -2em;
	transform: scale(-1);
}

.s2b-kt2 {
	grid-area: kt2;
	padding: 0 3em;
	position: relative;
}

.s2b-kt2 .bkg-bubble {
	top: -3em;
	left: 0em;
	transform: rotate(140deg);
}

.sec-step3 {
	display: grid;
	grid-template-columns: repeat(4, 1fr);
	column-gap: 2em;
}

.low-carbon {
	padding-top: .8em;
	position: relative;
	color: white;
}

.low-carbon > h1, .low-carbon > p {
	position: relative;
	top: -2em;
}

.low-carbon h2 {
	font-size: 1.6em;
	font-weight: 700;
}

.low-carbon p {
	margin-top: .6em;
}

.low-carbon p:first-of-type {
	margin-top: 3em;
}

.low-carbon .bkg-bubble:first-of-type {
	top: 2em;
	left: -2em;
}

.low-carbon .bkg-bubble {
	top: 12em;
	left: -2em;
	z-index: -10;
	transform: scaleY(2) scaleX(1.3) rotate(30deg);
}

.step3-column {
	display: grid;
	grid-template-rows: repeat(4, 1fr);
	row-gap: .8em;
	position: relative;
}

.s3-info {
	padding: 1em;
	background-color: white;
	border: 3px solid blue;
	border-radius: 2em;
}

.s3-info h3 {
	text-align: center;
	font-weight: 700;
}

.s3-info p {
	text-align: justify;
}

.low-carbon .s3-speech-bubble {
	font-family: var(--ft_light);
	position: absolute;
	color: black;
	width: 8em;
	left: .6em;;
	top: auto;
	bottom: 13em;
	text-align: center;
}

.s3-speech-bubble img {
	position: absolute;
	z-index: -1;
	top: -1.7em;
	left: -1em;
	height: 9.6em;
}

.lc-img {
	position: absolute;
	height: 18em;
	right: -3em;
	bottom: -6em;
	z-index: -5;
}

.lcs-imgs {
	position: absolute;
	height: 11em;
}

.lcs-sp {
	top: -2.6em;
	left: 50%;
	transform: translateX(-50%);
}

.lcs-he {
	bottom: -3em;
	left: 50%;
	transform: translateX(-50%);
}

.lcs-hp {
	height: 8em;
	/* top: -2em; */
	left: 50%;
	transform: translateX(-50%);
}

.lcs-rt {
	height: 8em;
	left: 50%;
	transform: translateX(-50%);
}

.lcs-bb {
	height: 7em;
	left: 50%;
	transform: translateX(-50%);
}

.lcs-lf {
	height: 8em;
	left: 50%;
	transform: translateX(-50%);
}

.movement {
	position: relative;
	display: grid;
	grid-template-columns: 35% 15% 15% 35%;
	grid-template-rows: 1fr 2fr 3fr;
	grid-template-areas:
		"title title . ."
		"lft . . rht"
		"lft srt srt rht";
}

.movement > .title {
	grid-area: title;
}

.movement > .title h1, .movement > .title h2 {
	position: relative;
	z-index: 2;
}

.mv-title-bubble.bkg-bubble {
	transform: scale(2);
	top: 2em;
	z-index: -5;
}

.mv-l-side {
	grid-area: lft;
}

.mv-r-side {
	grid-area: rht;
}

.mv-l-side, .mv-r-side {
	position: relative;
}

.mv-started {
	grid-area: srt;
	padding: 0 2em;
	position: relative;
}

.mv-started h3 {
	font-size: 1.6em;
	font-weight: 800;
}

.mv-started p {
	padding-left: 1em;
}

.mv-started p:first-of-type {
	padding-top: 3em;
}

.mv-bbmain {
	top: 8em;
	left: -1em;
	transform: rotate(-90deg) scaleY(1.5) scaleX(1.1);
}

.mv-bbtitle {
	top: -3em;
	left: -2em;
	transform: scaleX(-0.8);
}

.mv-teach {
	position: absolute;
	height: 21.5em;
	top: -21em;
	transform: scaleX(-1);
	z-index: -3;
}

.mv-bubble {
	padding: .8em 2em;
	max-width: 60%;

	background-color: white;
	border: 3px solid pink;
	border-radius: 3em;
	position: relative;
}

.mv-bubble:nth-of-type(even) {
	right: -20%;
}

.mv-r-side .mv-bubble:nth-of-type(odd) {
	right: -20%;
}

.mv-r-side .mv-bubble:nth-of-type(even) {
	right: 0;
}

.mv-bubble h2 {
	font-size: 1.3em;
	font-weight: 800;
}

.mvbbimg {
	position: absolute;
	height: 5em;
}

.bb2 {
	top: -3em;
	right: -1em;
	transform: rotate(-6deg);
}

.bb4 {
	top: -3.6em;
	right: 0;
	transform: rotate(20deg);
}

.bb5 {
	top: -3em;
	left: -2.7em;
	transform: rotate(96deg);
}

.bb6 {
	top: -3.4em;
	right: -2.5em;
}

.bb7 {
	height: 4em;
	top: -3.6em;
	right: 1em;
}

.bb8 {
	bottom: -3em;
	left: -2.1em;
}

.bb9 {
	bottom: -4em;
	right: -4em;
}

.mv-mission {
	font-family: var(--ft_light);
	position: absolute;
	top: 0;
	width: 10em;
	text-align: center;
	font-size: .9em;
	right: 30%;
}

.mv-mission img {
	position: absolute;
	z-index: -1;
	top: -1em;
	left: -1em;
	height: 12em;
}
