@font-face {
	font-family: 'Wilson-Hand';
    src:  url('../assets/fonts/Wilson-Hand.ttf.woff') format('woff'),
    url('../assets/fonts/Wilson-Hand.ttf.svg#Wilson-Hand') format('svg'),
    url('../assets/fonts/Wilson-Hand.ttf.eot'),
    url('../assets/fonts/Wilson-Hand.eot?#iefix') format('embedded-opentype'); 
    font-weight: normal;
    font-style: normal;
}

:root {
	--ft_light: 'Wilson-Hand', sans-serif;
}

html, body {
	/* font-family: sofia-pro, sans-serif; */
	font-family: 'Be Vietnam Pro', sans-serif;
	font-style: normal;
	font-weight: 400;
	max-width: 100%;
	overflow-x: hidden;
}

body { overflow-y: hidden;}

.nav_title {
	height: 10em;
}

.ft_light {
	font-family: 'Wilson-Hand', sans-serif;
	font-style: normal;
	font-weight: 400;
}

.center {
	display: flex;
	flex-flow: row nowrap;
	justify-content: center;
	align-items: center;
}

.bkg {
	position: fixed;
	z-index: -10;
	height: 100%;
	width: 100%;
	background: url(../assets/grid.svg);
	overflow-y: hidden;
}

.bkg-bubble {
	position: absolute;
	z-index: -3;
}

sup {
	vertical-align: super;
	font-size: .6em;
}

main {
	min-width: 1000px;
	max-width: 1000px;
	width: 70%;
	margin: 0 auto;

	position: relative;
	z-index: 5;
	/* background-color: lightblue; */
}

.triangle-down {
	width: 0;
	height: 0;
	border-left: 1.5em solid transparent;
	border-right: 1.5em solid transparent;
	border-top: 2em solid red;
}

.triangle-up {
	width: 0;
	height: 0;
	border-left: 1.5em solid transparent;
	border-right: 1.5em solid transparent;
	border-bottom: 2em solid red;
}

.center-children {
	display: flex;
	flex-direction: row;
	justify-content: center;
}

.navigation {
	margin: 0 0 2em;
	width: 100%;

	display: flex;
	flex-flow: row nowrap;
	justify-content: space-evenly;

	font-size: .8em;
}

.navigation p {
	font-size: .8em;
}

.nav-head {
	position: relative;
	z-index: 10;
	left: -20%;
	width: 120%;
	display: flex;
	flex-flow: row nowrap;
	justify-content: space-around;
	align-items: center;
}

.nav-head .page-link {
	width: 9em;
}

.nav-img {
	height: 100%;
	width: 32%;
}

.nav-img img {
	max-width: 100%;
}

.page-link {
	min-height: 4em;
	width: 12.5em;
	display: flex;
	flex-direction: column;
	/* justify-content: center; */
	color: black;
	text-decoration: none;
}

.border {
	background-color: white;
	border: 6px solid black;
	border-radius: 2em;
}

.pl-icon {
	height: 5.6em;
	margin: 0 auto;

	position: relative;
	bottom: -8px;
}

.pl-body {
	margin-top: .4em;
	border: .2em solid black;
	border-radius: .6em;
	background-color: white;
}

.pl-body p {
	margin: .6em;
	text-align: center;
}

.nav-head .pl-body {
	height: 2em;
	display: flex;
	flex-flow: column nowrap;
	justify-content: center;
	align-items: center;
}

.flip-img {
	-webkit-transform: scaleX(-1);
	transform: scaleX(-1);
}

.back-to-top {
	/* position: fixed; */
	color: black;
	text-decoration: none;
	position: relative;
	z-index: 5;

	display: flex;
	flex-flow: column nowrap;
	justify-content: space-between;
	align-items: center;

	text-transform: uppercase;
	cursor: pointer;
}

.back-to-top div {
	margin-bottom: 1em;
}

footer {
	position: relative;
	z-index: 5;
	margin-top: 2em;

	padding: 1.6em;
	color: white;
	/* background-color: red; */

	display: flex;
	flex-flow: row nowrap;
	justify-content: space-between;
}

footer .bkg-bubble {
	width: 100vw;
	left: 0;
	bottom: 0;
}

footer div:nth-of-type(1) {
	display: flex;
	flex-flow: column nowrap;
	justify-content: flex-end;
}

footer div:nth-of-type(2) {
	display: flex;
	flex-flow: row-reverse nowrap;
	/* justify-content: space-around; */
}

footer div:nth-of-type(2) > img {
	margin: 0 1em;
}

footer div img {
	max-height: 6em;
}

/* Buffer Divs */

.bfr-2 {
	height: 2em;
}

.bfr-4 {
	height: 4em;
}

.bfr-8 {
	height: 8em;
}

.split-55 {
	display: grid;
	grid-template-columns: 50% auto;
}

.split-46 {
	display: grid;
	grid-template-columns: 40% auto;
}

.split-64 {
	display: grid;
	grid-template-columns: 60% auto;
}

.split-28 {
	display: grid;
	grid-template-columns: 20% auto;
}

@media screen and (max-width: 1000px) {
	body {
		overflow-x: scroll;
	}
}
