.landing {
	height: 100vh;
	position: relative;
}

.landing img {
	position: absolute;
	top: 50%;
	left: 50%;
	width: 90%;
	transform: translateX(-50%) translateY(-50%);
}

.welcome {
	text-align: center;
	font-size: 3.3em;

	position: absolute;
	bottom: .4em;
	width: 100%;
	text-align: center;
}

.decarbonise {
	margin: 1em auto 0;
	text-align: center;
	font-size: 3.3em;
}

.about {
	margin-top: 2em;
	width: 100%;
	position: relative;

	display: flex;
	flex-direction: row;
	justify-content: center;
}

.about .bkg-bubble {
	height: 33em;
	top: -3em;
}

.team-photo { height: 30em; border: 1px solid black; }

.abt-desc {
	margin-left: 3em;
	max-width: 40em;
	min-width: 20em;
	
	font-size: .95em;
	text-align: center;
	display: flex;
	flex-direction: column;
	justify-content: center;
	align-items: center;
}

.abt-title {
	font-size: 2.2em;
	font-weight: bold;
}

.abt-body {
	margin-top: .8em;
}

.abt-body p {
	margin-top: .5em;
}

.cont-arrow {
	margin: 2em 0 0;
}
