.border {
	background-color: white;
	border: 6px solid black;
	border-radius: 2em;
}

.title {
	margin-top: 2em;
	font-weight: 800;
}

.title h1 {
	font-size: 3em;
}

.title h2 {
	font-size: 1.9em;
}

.intro {
	margin-top: 3em;
	position: relative;
	/* width: 40%; */

	display: grid;
	grid-template-columns: 30% 10% auto;
	grid-template-areas: "text stats .";
	gap: 1em;
}

.intro .stats-emph {
	color: black;
}

.intro-body {
	grid-area: text;
	padding-left: 1em;
}

.intro .stats {
	grid-area: stats;
}

.intro-img {
	position: absolute;
	height: 20em;
	top: -9em;
	right: 0;
}

.intro-1 {
	height: 40em;
	top: -30em;
	right: -8em;
	z-index: -20;
}

.intro-body h3 {
	font-size: 1.4em;
	font-weight: 900;
}

.intro-body p {
	margin-top: 1em;
}

.intro-body .bkg-bubble {
	top: -1em;
	left: 0;
	transform: scaleX(1.6) scaleY(-1.6);
}

.stats {
	display: flex;
	flex-flow: column nowrap;
	justify-content: space-around;
	align-items: center;
}

.stats > div {
	width: 100%;
	font-size: .9em;
	display: flex;
	flex-flow: row nowrap;
	justify-content: space-between;
}

.stats span {
	font-size: 0.9em;
	text-align: center;
}

.stats-emph {
	font-weight: 800;
	font-size: 1.4em;
	color: red;
}

.carb-analysis {
	position: relative;
	margin-top: 3em;
	padding: 1em 2em;

	display: grid;
	grid-template-columns: 25% 30% 15% auto;
	grid-template-rows: 4fr 1fr;
	grid-template-areas: "why chart ton eq" "stats chart ton eq";
	gap: .3em;

	border-color: red;
}

.carb-analysis * {
	z-index: 1;
}

.ca-why {
	grid-area: why;
}

.ca-why h3 {
	font-size: 1.1em;
	color: red;
	font-weight: 900;
}

.ca-why p {
	margin-top: 1em;
	/* text-align: justify; */
}

.carb-analysis .stats {
	grid-area: stats;
}

.chart-cont {
	grid-area: chart;
	position: relative;
	display: flex;
	flex-flow: column nowrap;
	justify-content: center;
	align-items: center;
}

.chart {
	height: 11em;
}

.ch-rating {
	position: absolute;
	top: 2em;
	right: 4.5em;
	height: 4em;
}

.co-tonnes {
	grid-area: ton;
	display: flex;
	flex-flow: column nowrap;
	justify-content: center;
	align-items: center;
	text-align: center;
	position: relative;
}

.co-tonnes span {
	font-size: .9em;
}

.co-tonnes h2 {
	margin-top: .6em;
	color: red;
	font-size: 3em;
	font-weight: 900;
}

.co-img {
	position: absolute;
	z-index: 0;
	bottom: -1em;
	height: 9em;
	opacity: 0.4;
}

.fd-equivalences {
	grid-area: eq;

	display: flex;
	flex-flow: column nowrap;
	justify-content: space-around;
	align-items: center;
}

.fd-expr {
	display: grid;
	grid-template-columns: 10% 30% 60%;
	gap: .6em;
}

.fd-expr > span, .fd-expr > div {
	display: flex;
	justify-content: center;
	align-items: center;

	color: red;
	font-size: 1.5em;
	font-weight: 800;
}

.fd-expr p {
	text-align: center;
}

.fd-expr div {
	text-align: right;
}

.carb-ele {
	position: absolute;
	top: -4em;
	right: 0;
	height: 5em;
}

.title.right > * {
	text-align: right;
}

.intro.right {
	position: relative;
	right: 0;

	grid-template-columns: 60% 10% auto;
	grid-template-areas: ". stats text";
}

.intro-body .bkg-bubble.right {
	top: -1em;
	left: auto;
	right: 0;
	transform: scaleX(-1.6) scaleY(-1.6);
}

.right .intro-img {
	position: absolute;
	height: 20em;
	top: -9em;
	right: auto;
	left: 0;
}

.right .intro-1 {
	height: 40em;
	top: -30em;
	right: auto;
	left: -16em;
}
