p {
	font-size: .9em;
}

.section-1 {
	display: grid;
	grid-template-columns: repeat(2, 1fr);
	grid-template-rows: 55% auto;
	grid-template-areas: 'intro img' 'stats img';
	row-gap: 2em;
}

.s1-intro {
	grid-area: intro;
}

.s1-intro h1 {
	font-size: 3em;
	font-weight: 800;
	position: relative;
	width: 200%;
}

.s1-intro h3 {
	font-size: 1.5em;
	font-weight: 800;
	margin-bottom: 0.5em;
}

.s1-intro .bkg-bubble {
	height: 50em;
	top: -12em;
	left: -55em;
}

.stats-and-info {
	grid-area: stats;
	display: grid;
	grid-template-columns: 70% auto;
	grid-template-rows: 20% auto;
	gap: 1.4em 1em;

	position: relative;
	height: 100%;
	width: 110%;
	color: white;
}

.stats-and-info .bkg-bubble {
	height: 34em;
	top: -9em;
	left: -10em;
	transform: scaleY(.6) scaleX(1.7);
}

.si-title {
	grid-column: 1 / 3;
	grid-row: 1 / 2;
	font-weight: 800;
}

.si-title h2 { font-size: 1.8em; }
.si-title h3 { font-size: 1.4em; }

.stats-and-info p {
	grid-column: 1 / 2;
	grid-row: 2 / 3;
}

.intro-stats {
	grid-column: 2 / 3;
	grid-row: 1 / 3;

	display: flex;
	flex-flow: column nowrap;
	justify-content: flex-end;
	text-align: center;
	gap: .2em;
}

.intro-stats span {
	font-size: 1.4em;
	font-weight: 800;
}

.s1-image {
	grid-area: img;
	position: relative;
}

.s1-image .bkg-bubble {
	height: 40em;
	top: -16em;
	left: -2em;
	z-index: -10;
	transform: rotate(-30deg);
}

.intro-img {
	width: 140%;
}

.section-2 {
	display: grid;
	grid-template-columns: repeat(3, 1fr);
	gap: 1em;
}

.section-2 > .border {
	padding: 4em .8em .3em;
	position: relative;
}

/* .section-2 > .border > img {
	box-shadow: 2px 2px 2px black;
} */

.section-2 img {
	position: absolute;
}

.s2-lean {
	border-color: blue;
}

.s2-mean {
	border-color: red;
}

.s2-green {
	border-color: green;
}

.s2-bubble {
	position: absolute;
	color: white;
	width: 8em;
}

.s2-lean .s2-bubble {
	top: -3.6em;
	left: -1em;
}

.s2-lean .bkg-bubble {
	top: -1em;
	left: -3em;
	height: 8em;
	transform: rotate(10deg);
}

.s2surr-1 {
	height: 7em;
	top: -3em;
	right: 1em;
}

.s2surr-2 {
	height: 7em;
	bottom: -4.4em;
	left: 1em;
}

.s2surr-3 {
	height: 7em;
	bottom: -4.4em;
	right: -2em;
}

.s2-mean .bkg-bubble {
	top: -1.3em;
	left: -2em;
	height: 10em;
	transform: scaleY(.9);
}

.s2-mean .s2-bubble {
	top: -4em;
}

.s2-green .bkg-bubble {
	top: -1.8em;
	left: -5em;
	height: 10em;
	transform: rotateZ(180deg) scaleY(.8) scaleX(.7);
}

.s2-green .s2-bubble {
	top: -4em;
}

.s2-bubble .bkg-bubble {
	z-index: 1;
}

.s2-bubble h3 {
	font-size: 1.4em;
	font-weight: 800;
}

.s2-bubble p {
	margin-top: .4em;
	font-size: .9em;
}

.s2-bubble h3, .s2-bubble p {
	position: relative;
	z-index: 2;
}

.s2-info {
	text-align: center;
	margin-bottom: 1em;
}

.s2-info h3 {
	font-size: 1.4em;
	font-weight: 800;
}

.s2-info p {
	font-size: .8em;
}

.s2e1 {
	height: 5.6em;
	top: -4em;
}

.s2e2 {
	left: 3em;
	bottom: -6em;
}

.s2e9 {
	bottom: -5em;
}

.section-3 {
	margin-top: 16em;
	color: white;
	display: grid;
	grid-template-columns: repeat(2, 1fr);
	gap: 2em;
	position: relative;
}

.section-3 .text {
	position: relative;
}

.section-3 h2 {
	font-size: 2em;
	font-weight: 800;
}

.section-3 p {
	margin-top: 1em;
}

.section-3 .person {
	height: 20em;
	position: absolute;
	z-index: -6;
}

.s3red {
	position: relative;
}

.s3red .person {
	top: -15em;
	left: -1em;
}

.s3red .bkg-bubble {
	width: 70%;
	top: -6.8em;
	left: 4em;
	transform: rotate(-80deg) scaleY(1.4);
}

.s3-centerimg {
	width: 60%;
	position: absolute;
	top: -16em;
	left: 50%;
	transform: translate(-50%);
}

.s3blue {
	display: grid;
	grid-template-columns: 85% auto;
	/* gap: 7em; */
	position: relative;
	text-align: right;
}

.s3blue .bkg-bubble {
	width: 70%;
	top: -1.5em;
	left: 5em;
	transform: rotate(-100deg) scaleY(1.8) scaleX(1.2);
}

.s3blue .person {
	top: -14em;
	right: 0;
	height: 15em;
}

.s4-blk {
	/* width: 70%; */
	display: grid;
	grid-template-columns: 40% 25% auto;
	grid-template-rows: 7em 2fr 1fr;
	row-gap: 1em;
	position: relative;
}

.s4-blk h3 {
	font-size: 2em;
	font-weight: 800;
}

.s4-blk h4 {
	font-size: 1.4em;
	font-weight: 900;
}

.s4-blk p {
	margin-top: .6em;
}

.s4-blk .border {
	padding: 1em 1.6em;
	border-width: 3px;
	border-radius: 4em;
	text-align: center;
}

.s4-title {
	grid-column: 1 / 3;
	grid-row: 1 / 2;
	position: relative;
	top: -2em;
}

.s4-title.more {
	top: -2.5em;
}

.s4-info {
	grid-column: 1 / 2;
	grid-row: 2 / 3;

	display: flex;
	flex-flow: column nowrap;
	justify-content: flex-end;
}

.s4-stats {
	grid-column: 2 / 3;
	grid-row: 2 / 3;

	text-align: center;
	/* justify-content: flex-start; */
}

.s4-perks {
	grid-column: 3 / 4;
	grid-row: 1 / 3;
}

.s4-perks > div:first-of-type {
	margin-top: 0;
}

.s4-perks > div {
	margin-top: 1.6em;
}

.s4-chal-less {
	grid-column: 1 / 4;
	grid-row: 3 / 4;

	display: grid;
	grid-template-columns: 1fr 1fr;
	gap: 2em;
}

.s4-image {
	position: absolute;
	width: 70%;
	top: 20%;
	right: 0%;
	z-index: -3;

	transform: translateX(-50%) translateY(-50%);
}


.s4-cyan .bkg-bubble {
	width: 100%;
	left: 28%;
	top: 43%;
	transform: translateX(-50%) translateY(-50%) rotate(90deg) scaleY(2.6) scaleX(.7);
}

.s4-cyan .border {
	border-color: cyan;
}


.s4-magenta .bkg-bubble {
	width: 100%;
	left: 28%;
	top: 43%;
	transform: translateX(-50%) translateY(-50%) rotate(90deg) scaleY(2.6) scaleX(.8);
}

.s4-magenta .border {
	border-color: magenta;
}


.section-5 {
	min-height: 40em;
	position: relative;
}

.section-5 > * {
	position: absolute;
}

.section-5 h3 {
	font-size: 1.6em;
	font-weight: 800;
}

.section-5 p {
	margin-top: .6em;
}

.s5-bubble {
	width: 20em;
	color: white;
}

.s5-bubble .bkg-bubble {
	top: -2em;
	transform: scaleX(2);
}

.s5-bubble > p {
	position: relative;
	left: -2em;
}

.s5-brdr {
	padding: 1em;
	text-align: center;
	border-width: 2px;
}

.eco5 {
	bottom: 46%;
	width: 18em;
	border-color: cyan;
}

.inv5 {
	width: 13em;
	top: 0;
	right: 0;
	border-color: green;
}

.int5 {
	bottom: 0;
	right: 0;
	width: 18em;
	border-color: pink;
}

.s5img1 {
	top: 4%;
	left: 54%;
	width: 48%;
	transform: translateX(-50%);
}

.s5img2 {
	width: 40%;
	bottom: 0;
	left: 18%;
}

.s5imgpink, .s5imgyell {
	bottom: 0;
	width: 25%;
}

.s5imgpink {
	bottom: 10%;
}

.s5imgyell {
	left: 45%;
	bottom: 20%;
}

.s5img3, .s5img4,.s5img5,.s5img6 {
	width: 20%;
	transform: translateX(-50%) translateY(-50%);
	top: 40%;
}

.s5img3 {
	top: 50%;
	left: 44%;
}

.s5img4 {
	left: 63%;
	top: 36%;
}

.s5img5 {
	top: 53%;
	left: 78%;
}

.s5img6 {
	left: 92%;
	top: 33%;
}
