p {
	font-size: .8em;
}

.title {
	margin-top: 2em;
	font-weight: 800;
}

.title h1 {
	font-size: 3em;
}

.title h2 {
	font-size: 1.9em;
}

.intro {
	margin-top: 3em;
	position: relative;
	/* width: 40%; */

	display: grid;
	grid-template-columns: 30% 10% auto;
	grid-template-areas: "text stats .";
	gap: 1em;
}

.intro .stats-emph {
	color: black;
}

.intro-body {
	grid-area: text;
}

.intro .stats {
	grid-area: stats;
}

.intro-img {
	position: absolute;
	height: 20em;
	top: -9em;
	right: 0;
}

.intro-1 {
	height: 40em;
	top: -30em;
	right: -8em;
}

.intro-body h3 {
	font-size: 1.4em;
	font-weight: 900;
}

.intro-body p {
	margin-top: 1em;
}

.intro-body .bkg-bubble {
	top: -1em;
	left: 0;
	transform: scaleX(1.6) scaleY(-1.6);
}

.stats {
	display: flex;
	flex-flow: column nowrap;
	justify-content: space-around;
	align-items: center;
}

.stats > div {
	width: 100%;
	display: flex;
	flex-flow: row nowrap;
	justify-content: space-between;
}

.stats span {
	font-size: 0.9em;
	text-align: center;
}

.stats-emph {
	font-weight: 800;
	font-size: 1.4em;
	color: red;
}

.carb-analysis {
	position: relative;
	margin-top: 3em;
	padding: 1em 2em;

	display: grid;
	grid-template-columns: 25% 30% 15% auto;
	grid-template-rows: 4fr 1fr;
	grid-template-areas: "why chart ton eq" "stats chart ton eq";
	gap: .3em;

	border-color: red;
}

.carb-analysis * {
	z-index: 1;
}

.ca-why {
	grid-area: why;
}

.ca-why h3 {
	font-size: 1.1em;
	color: red;
	font-weight: 900;
}

.ca-why p {
	margin-top: 1em;
	/* text-align: justify; */
}

.carb-analysis .stats {
	grid-area: stats;
}

.chart-cont {
	grid-area: chart;
	position: relative;
	display: flex;
	flex-flow: column nowrap;
	justify-content: center;
	align-items: center;
}

.chart {
	height: 11em;
}

.ch-rating {
	position: absolute;
	top: 2em;
	right: 4.5em;
	height: 4em;
}

.co-tonnes {
	grid-area: ton;
	display: flex;
	flex-flow: column nowrap;
	justify-content: center;
	align-items: center;
	text-align: center;
	position: relative;
}

.co-tonnes span {
	font-size: .9em;
}

.co-tonnes h2 {
	margin-top: .6em;
	color: red;
	font-size: 3em;
	font-weight: 900;
}

.co-img {
	position: absolute;
	z-index: 0;
	bottom: -1em;
	height: 9em;
	opacity: 0.4;
}

.fd-equivalences {
	grid-area: eq;

	display: flex;
	flex-flow: column nowrap;
	justify-content: space-around;
	align-items: center;
}

.fd-expr {
	display: grid;
	grid-template-columns: 10% 30% 60%;
	gap: .6em;
}

.fd-expr > span, .fd-expr > div {
	display: flex;
	justify-content: center;
	align-items: center;

	color: red;
	font-size: 1.5em;
	font-weight: 800;
}

.fd-expr p {
	text-align: center;
}

.fd-expr div {
	text-align: right;
}

.carb-ele {
	position: absolute;
	top: -4em;
	right: 0;
	height: 5em;
}

.long-img, .long-img img {
	max-width: 100%;
}

.long-img {
	position: relative;
}

.long-img div {
	height: 1.4em;
	width: 1.4em;
	position: absolute;
	display: flex;
	flex-flow: column nowrap;
	justify-content: center;
	align-items: center;
	color: blue;
	border: 2px solid blue;
	border-radius: 50%;
}

.li11 {
	bottom: 40%;
	left: 2%;
}

.li12 {
	bottom: 35%;
	left: 13%;
}

.li13a {
	bottom: 35%;
	left: 31%;
}

.li13b {
	bottom: 38%;
	left: 43%;
}

.li14 {
	bottom: 50%;
	left: 14%;
}

.li15a {
	top: 28%;
	left: 26.5%;
}

.li15b {
	top: 28%;
	left: 50%;
}

.li16 {
	bottom: 34%;
	right: 38%;
}

.li17 {
	bottom: 43%;
	left: 24%;
}

.li18 {
	top: 20%;
	right: 22%;
}

.li19a {
	bottom: 27%;
	right: 21.7%
}

.li19b {
	bottom: 27%;
	right: 11%
}

.strat-gap {
	column-gap: 2em;
}

.strategy {
	padding: 2em;

	display: grid;
	grid-template-columns: 60% auto;
	column-gap: 2em;

	color: green;

	border-color: green;
}

.strat-text {
	display: flex;
	flex-flow: column nowrap;
	justify-content: space-around;
	align-items: center;
}

.strat-text h3 {
	font-size: 1.5em;
	font-weight: 800;
}

.strat-text p {
	margin-top: 1em;
	text-align: justify;
}

.strat-nums {
	display: flex;
	flex-flow: column nowrap;
	justify-content: space-around;
	align-items: center;

	text-align: center;
}

.strat-nums h4 {
	font-size: 1.1em;
	font-weight: 800;
}

.strat-nums h2 {
	font-size: 2.5em;
	font-weight: 800;
}

.suggestions {
	padding: 2em;

	display: grid;
	grid-template-columns: repeat(3, 1fr);
	gap: .6em;

	color: blue;
	border-color: blue;
}

.sug-column {
	display: flex;
	flex-flow: column nowrap;
	gap: .6em;
}

.sug-column h3 {
	margin-bottom: 1em;
	font-size: 1.3em;
	font-weight: 700;
}

.sug-role {
	display: grid;
	grid-template-columns: 10% auto;
	gap: .3em;
}

.sug-role > * {
	font-size: .8em;
	/* text-align: justify; */
}

.title.right {
	margin-top: 0;
}

.title.right > * {
	text-align: right;
}

.intro.right {
	position: relative;
	right: 0;

	grid-template-columns: 60% 10% auto;
	grid-template-areas: ". stats text";
}

.intro.right .intro-body h3, .intro.right .intro-body p, .intro.right .stats {
	/* Could reduce the margin but that would shift everything */
	position: relative;
	top: -1.3em;
}

.intro.right > .bkg-bubble {
	top: -22em;
	z-index: -5;
}

.intro-body .bkg-bubble.right {
	top: -1em;
	left: auto;
	right: 0;
	transform: scaleX(-1.6) scaleY(-1.6);
}

.right .intro-img {
	position: absolute;
	height: 20em;
	top: -6em;
	right: auto;
	left: -7em;
}

.right .intro-1 {
	height: 40em;
	top: -30em;
	right: auto;
	left: -16em;
}


.split-64.right {
	grid-template-areas: "sug strat";
}

.strat-gap.right > .strategy {
	grid-area: strat;
}

.strat-gap.right > .suggestions {
	grid-area: sug;
}

.li21 {
	bottom: 32%;
	left: 11.5%;
}

.li22 {
	bottom: 36%;
	left: 18%;
}

.li23a {
	bottom: 38%;
	left: 31%;
}

.li23b {
	bottom: 29%;
	left: 42%;
}

.li23c {
	bottom: 34%;
	right: 31%;
}

.li24 {
	top: 33%;
	right: 35.5%;
}

.li25 {
	top: 21%;
	left: 42.6%;
}

.li26a {
	bottom: 46%;
	left: 48%;
}

.li26b {
	bottom: 29%;
	right: 44%;
}

.li27 {
	top: 28%;
	left: 41%;
}

.li28 {
	top: 23%;
	right: 26%;
}

.li29a {
	bottom: 27%;
	right: 23.7%
}

.li29b {
	bottom: 27%;
	right: 14%
}

.im1 {
	right: -6em;
}
