main p {
	margin-top: 2em;
	font-size: 1.3em;
}

.dl-section {
	margin: 1em 0;
	display: grid;
	grid-template-columns: 20% auto;
	gap: 1em;
	min-height: 3em;
	font-size: 1.2em;
}

.dl-section > a {
	box-sizing: border-box;
	text-decoration: none;
	color: black;
	height: 100%;
	width: 100%;
	text-align: center;

	border: 5px solid rgba(159, 255, 255, 1);
	border-radius: 10px;
}

.dl-item {
	display: flex;
	flex-direction: column;
	justify-content: center;
}

/* footer {
	position: fixed;
	width: calc(100vw - 3.2em);
	bottom: 0;
} */